.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: calc(100vh - 5rem * 2);
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(max(50%,300px),1fr));
  font-size: calc(10px + 1vmin);
  color: white;
  padding: 5rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.twoSum fieldset {
  font-size: 1.3rem;
  padding: 2rem;
  width: max(50% , 280px);
  margin: 2rem auto;
}
.twoSum label {
  margin-right: .8em;
}

input {
  border: none;
  background-color: lightgray;
  color: black;
  padding: .5rem 1rem;
  border-radius: 5px;
  margin: .5rem;
}

input + input {
  margin-left: .25rem;
}