.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.35rem;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  color: black;
  padding-inline: 1rem;
  width: -webkit-fill-available;
  border: 2px solid lightgray;


  @media screen and (max-width: 1000px) {
    &.closed {
      ol {
        display: none;
      }

      >div:first-child {
        >:nth-child(2) {
          display: none;
        }

        >:last-child {
          display: flex;
        }
      }
    }

    >div:first-child {
      >:nth-child(2) {
        display: flex;
      }

      >:last-child {
        display: none;
      }
    }

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &>ol {
    display: flex;
    margin: 0;
    padding-left: 1rem;
    width: 100%;

    >li {
      display: block;
      padding: 1.5rem;
    }

    @media screen and (max-width: 1000px) {
      flex-direction: column;
      align-items: flex-start;
      padding: 0;

      >li {
        padding-inline: 0;
        padding-block: 0;
        width: 100%;
        text-align: left;

        >a {
          padding-block: 1.5rem;
        }

      }
    }
  }

  & a {
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    color: black;

  }

  & input {
    display: block;
    margin-left: auto;
    color: black;
    border: none;
    background: lightgray;
    color: black;
    padding: .5rem 1rem;
    border-radius: 4px;
    width: min(100%, 230px);

    @media screen and (max-width: 1000px) {
      margin-left: unset;
      display: none;
    }
  }

  &__header {
    @media screen and (max-width: 1000px) {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgb(230, 223, 223);
      padding-block: 2rem;
    }

    >div {
      &:first-child {
        @media screen and (max-width: 1000px) {
          color: blue;
        }
      }

      &:not(:first-child) {
        color: #1a1a1a;

        @media screen and (max-width: 1000px) {
          display: flex;
          gap: 1rem;
        }

        display: none;
      }
    }
  }
}